In [8]:
#DICTIONARY AND IT'S METHOOD (key and values pairs)
#Dictionary are odered and duplicate keys are not allowed
car={
    "brand":"ford",
    "model":"mustang",
    "year":1998
}

print(car)

{'brand': 'ford', 'model': 'mustang', 'year': 1998}

In [2]:
#dict.get(keys)=value method
car.get("year")

1998

In [3]:
#combination of values and pairs 
car.items()

dict_items([('brand', 'ford'), (',odel', 'mustang'), ('year', 1998)])

In [4]:
#all the keys of the dictionary
car.keys()

dict_keys(['brand', ',odel', 'year'])

In [5]:
#alll the valuies of the dictionary (only values)
car.values()

dict_values(['ford', 'mustang', 1998])

In [9]:
#pop pop the any key delete the keya nd value pair
# in pop we have to specify that which key we eant to delete
car.pop("model")

'mustang'

In [10]:
#popitem -- will deltet he last elemenmt  of the dictionry
car.popitem()  #year is deleted

('year', 1998)

In [13]:
#update method adddimng od the element 
car.update({"color":"black"})
print(car)

{'brand': 'ford', 'color': 'black'}

In [17]:
#clear method to empty the list tyo create empty dictionary
car.clear()
print('car')

car

# SET Method

In [31]:
#it does not allow the duplicate values 
#random
fruits={"apple","banana","cherry"}
fruits

{'apple', 'banana', 'cherry'}

In [26]:
# add item in set
fruits.add("mausami")
fruits

{'apple', 'banana', 'mausami'}

In [27]:
# delete a random element 
fruits.pop()
print(fruits)

{'mausami', 'apple'}

In [32]:
#for particular iotem
fruits.remove("apple")

In [34]:
a={1,3,5,7}
b={4,7,5,2}

#difference 
print(a.difference(b))

{1, 3}

In [35]:
#intersetion 
#all the common element of the both set
print(a.intersection(b))

{5, 7}

In [36]:
#union -non repeated all the values of both set
print(a.union(b))

{1, 2, 3, 4, 5, 7}